</div>
<!-- / Content -->


<footer class="content-footer footer bg-footer-theme" style="display:none;">
   <div class="container-xxl d-flex flex-column flex-md-row flex-wrap justify-content-between py-2">
      <div class="mb-2 mb-md-0">
         ©
         <script>
            document.write(new Date().getFullYear());
         </script>
         , made by
         <a href="" target="_blank" class="footer-link fw-bolder">Uday PS</a>
      </div>
   </div>
</footer>
<!-- / Footer -->

<!--footer-->

<div class="content-backdrop fade"></div>
</div>
<!--/ Content wrapper -->
</div>

<!--/ Layout container -->
</div>
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>

<!-- Drag Target Area To SlideIn Menu On Small Screens -->
<div class="drag-target"></div>
<!--/ Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/assets/vendor/libs/i18n/i18n.js"></script>
<script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/assets/vendor/libs/toastr/toastr.js"></script>

<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/tagify/tagify.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->


<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<script src="/assets/js/form-basic-inputs.js"></script>

<script src="/js/tabjson.js"></script>


