<aside class="left-sidebar with-vertical">
  <div>
    <!-- ---------------------------------- -->
    <!-- Start Vertical Layout Sidebar -->
    <!-- ---------------------------------- -->
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="index.html" class="text-nowrap logo-img">
        <img
          src="/assets/images/logos/dark-logo.svg"
          class="dark-logo"
          alt="Logo-Dark"
          style="display: flex"
        />
        <img
          src="/assets/images/logos/light-logo.svg"
          class="light-logo"
          alt="Logo-light"
          style="display: none"
        />
      </a>
      <a
        href="javascript:void(0)"
        class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none"
      >
        <i class="ti ti-x"></i>
      </a>
    </div>

    <nav class="sidebar-nav scroll-sidebar" data-simplebar="init">
      <div class="simplebar-wrapper" style="margin: 0px -24px">
        <div class="simplebar-height-auto-observer-wrapper">
          <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
          <div class="simplebar-offset" style="right: 0px; bottom: 0px">
            <div
              class="simplebar-content-wrapper"
              tabindex="0"
              role="region"
              aria-label="scrollable content"
              style="height: 100%; overflow: hidden"
            >
              <div class="simplebar-content" style="padding: 0px 24px">
                <ul id="sidebarnav">
                  <li class="sidebar-item">
                      <a href="/account-master" class="sidebar-link" aria-expanded="false">
                          <span><i class="ti ti-user"></i></span>
                          <span class="hide-menu">ACCOUNT MASTER</span>
                      </a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/invoicing" class="sidebar-link" aria-expanded="false">
                          <span><i class="ti ti-receipt"></i></span>
                          <span class="hide-menu">INVOICING</span>
                      </a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/cash-receipts" class="sidebar-link" aria-expanded="false">
                          <span><i class="ti ti-money"></i></span>
                          <span class="hide-menu">CASH RECEIPT</span>
                      </a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/cash-payments" class="sidebar-link" aria-expanded="false">
                          <span><i class="ti ti-arrow-up-circle"></i></span>
                          <span class="hide-menu">CASH PAYMENT</span>
                      </a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/godown" class="sidebar-link" aria-expanded="false">
                          <span><i class="ti ti-exchange-vertical"></i></span>
                          <span class="hide-menu">GODOWN TRANSFER</span>
                      </a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/dbf" class="sidebar-link" aria-expanded="false">
                          <span><i class="ti ti-archive"></i></span>
                          <span class="hide-menu">DBF READER</span>
                      </a>
                  </li>
                  <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <span class="d-flex">
                            <i class="ti ti-server"></i> 
                        </span>
                        <span class="hide-menu">DATABASE</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/db/account-master" class="sidebar-link">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-user"></i> 
                                </div>
                                <span class="hide-menu">ACCOUNT MASTER</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/db/cash-receipts" class="sidebar-link">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-money"></i> 
                                </div>
                                <span class="hide-menu">CASH RECEIPT</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/db/cash-payments" class="sidebar-link">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-arrow-up-circle"></i> 
                                </div>
                                <span class="hide-menu">CASH PAYMENT</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/db/godown" class="sidebar-link">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-exchange-vertical"></i> 
                                </div>
                                <span class="hide-menu">GODOWN TRANSFER</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/db/invoicing" class="sidebar-link">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-receipt"></i> 
                                </div>
                                <span class="hide-menu">INVOICING</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                  <li class="sidebar-item">
                      <a href="/logout.php" class="sidebar-link" aria-expanded="false">
                          <span><i class="ti ti-power-off"></i></span>
                          <span class="hide-menu">Logout</span>
                      </a>
                  </li>
              </ul>

              
              </div>
            </div>
          </div>
        </div>
        <div
          class="simplebar-placeholder"
          style="width: 269px; height: 211px"
        ></div>
      </div>
      <div
        class="simplebar-track simplebar-horizontal"
        style="visibility: hidden"
      >
        <div
          class="simplebar-scrollbar"
          style="width: 0px; display: none"
        ></div>
      </div>
      <div
        class="simplebar-track simplebar-vertical"
        style="visibility: hidden"
      >
        <div
          class="simplebar-scrollbar"
          style="
            height: 0px;
            transform: translate3d(0px, 0px, 0px);
            display: none;
          "
        ></div>
      </div>
    </nav>

    <div class="fixed-profile p-3 mx-4 mb-2 bg-secondary-subtle rounded mt-3">
      <div class="hstack gap-3">
        <div class="john-img">
          <img
            src="/assets/images/profile/user-1.jpg"
            class="rounded-circle"
            width="40"
            height="40"
            alt=""
          />
        </div>
        <div class="john-title">
          <h6 class="mb-0 fs-4 fw-semibold">Uday PS</h6>
          <span class="fs-2">Admin</span>
        </div>
        <button
          class="border-0 bg-transparent text-primary ms-auto"
          tabindex="0"
          type="button"
          aria-label="logout"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="logout"
        >
          <i class="ti ti-power fs-6"></i>
        </button>
      </div>
    </div>
  </div>
</aside>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the current URL path without the domain name
    var path = window.location.pathname;

    // Select all menu links
    var links = document.querySelectorAll(".menu-link");

    // Iterate through each link in the menu
    links.forEach(function (link) {
      // Check if the link's href attribute matches the current path
      if (link.getAttribute("href") === path) {
        // Add 'active' class to the parent menu item of the matching link
        link.parentElement.classList.add("active");
        // Optionally, if you want to expand a submenu containing the active link, do the following:
        // Check if the current link is inside a submenu
        var parentSubmenu = link.closest(".menu-sub");
        if (parentSubmenu) {
          // If so, find the parent menu item and add 'active' class to it as well
          var parentMenuItem = parentSubmenu.closest(".menu-item");
          if (parentMenuItem) {
            parentMenuItem.classList.add("active");
            if (path.includes("/db")) {
              parentMenuItem.classList.add("open");
            }
          }
        }
        // if url includes /db then expand the menu
      } else {
        // Remove 'active' class from the menu item if the link does not match
        link.parentElement.classList.remove("active");
      }
    });
  });
</script>
