<aside
  id="layout-menu"
  class="layout-menu menu-vertical menu bg-menu-theme"
  data-bg-class="bg-menu-theme"
  style="
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  "
>
  <div class="app-brand demo">
    <a href="/dashboard.php" class="app-brand-link">
      <img
        src="/assets/text.png"
        alt=""
        class="h-auto rounded"
        style="width: 70%"
      />
    </a>

    <a href="#" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="bx bx-circle bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1 ps">
    <!-- Dashboards -->
    <li class="menu-item">
      <a href="/account-master" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <b>
          <div data-i18n="ACCOUNT MASTER">ACCOUNT MASTER</div>
        </b>
      </a>
    </li>
    <!-- Dashboards -->

    <!-- My Orders-->
    <li class="menu-item">
      <a href="/invoicing" class="menu-link">
        <i class="menu-icon tf-icons bx bx-note"></i>
        <b>
          <div data-i18n="INVOICING">INVOICING</div>
        </b>
      </a>
    </li>

    <!-- Addreses-->

    <li class="menu-item">
      <a href="/cash-receipts" class="menu-link">
        <i class="menu-icon tf-icons bx bx-edit"></i>
        <b>
          <div
            data-i18n="CASH RECEIPT
                      "
          >
            CASH RECEIPT
          </div>
        </b>
      </a>
    </li>

    <li class="menu-item">
      <a href="/cash-payments" class="menu-link">
        <i class="menu-icon tf-icons bx bx-wallet"></i>
        <b>
          <div
            data-i18n="CASH PAYMENT
                        "
          >
            CASH PAYMENT
          </div>
        </b>
      </a>
    </li>

    <!-- Track Package -->

    <li class="menu-item">
      <a href="/godown" class="menu-link">
        <i class="menu-icon tf-icons bx bx-map"></i>
        <b>
          <div
            data-i18n="GODOWN TRANSFER
                        "
          >
            GODOWN TRANSFER
          </div>
        </b>
      </a>
    </li>

    <li class="menu-item">
      <a href="/dbf" class="menu-link">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <b>
          <div
            data-i18n="DBF READER
                        "
          >
            DBF READER
          </div>
        </b>
      </a>
    </li>
    <!-- Track Package -->

    <!-- Account Setting-->

    <li class="menu-item">
      <a href="/#" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-data"></i>
        <b>
          <div
            data-i18n="DATABASE
                        "
          >
            DATABASE
          </div>
        </b>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/db/account-master" class="menu-link">
            <div data-i18n="ACCOUNT MASTER">ACCOUNT MASTER</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/db/cash-receipts" class="menu-link">
            <div data-i18n="CASH RECEIPT">CASH RECEIPT</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="/db/cash-payments" class="menu-link">
            <div data-i18n="CASH PAYMENT">CASH PAYMENT</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="/db/godown" class="menu-link">
            <div data-i18n="GODOWN TRANSFER">GODOWN TRANSFER</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/db/invoicing" class="menu-link">
            <div data-i18n="INVOICING">INVOICING</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Account Setting-->

    <!--Logout -->
    <li class="menu-item">
      <a href="/logout.php" class="menu-link">
        <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
        <b>
          <div data-i18n="Logout">Logout</div>
        </b>
      </a>
    </li>
    <!--Logout -->

    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 4px">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
    </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 4px">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
    </div>
  </ul>
</aside>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the current URL path without the domain name
    var path = window.location.pathname;

    // Select all menu links
    var links = document.querySelectorAll(".menu-link");

    // Iterate through each link in the menu
    links.forEach(function (link) {
      // Check if the link's href attribute matches the current path
      if (link.getAttribute("href") === path) {
        // Add 'active' class to the parent menu item of the matching link
        link.parentElement.classList.add("active");
        // Optionally, if you want to expand a submenu containing the active link, do the following:
        // Check if the current link is inside a submenu
        var parentSubmenu = link.closest(".menu-sub");
        if (parentSubmenu) {
          // If so, find the parent menu item and add 'active' class to it as well
          var parentMenuItem = parentSubmenu.closest(".menu-item");
          if (parentMenuItem) {
            parentMenuItem.classList.add("active");
            if (path.includes("/db")) {
              parentMenuItem.classList.add("open");
            }
          }
        }
        // if url includes /db then expand the menu
      } else {
        // Remove 'active' class from the menu item if the link does not match
        link.parentElement.classList.remove("active");
      }
    });
  });
</script>
