<%- include('../../partials/top') %>



<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4">
      <!-- <span class="text-muted fw-light">Account Settings /</span> -->
      <%- name %>
   </h4>

   <div class="row">
      <div class="col-md-12">

         <div class="row">
            <div class="col-12">
              <!-- start File export -->
              <div class="card">
                <div class="card-body">
                 

                  <div class="table-responsive">
                    <table id="tabxp" class="table border w-100 table-striped table-bordered display text-nowrap">
                      <thead>
                        <!-- start row -->
                        
                        <!-- end row -->
                      </thead>

                      <tbody>
                      </tbody>

                      
                    </table>
                  </div>
                </div>
              </div> 




   </div>
</div>


<%- include('../../partials/bottom') %>

   <script>
      (async () => {

         const url = "/json/<%- file %>";
         const response = await fetch(url);
         const json = await response.json();
        //  const modifiedJson = originalJson.map(item => ({
        //     name: item.C_NAME,
        //     email: item.C_CODE
        //   }));

        // add a last column for action
        json.forEach(item => {
          item.action = `
          <a type="button" data-bs-toggle="modal" class="editbutton" onclick="action('edit','${item.voucherNo}')">
            <i class="fa fa-edit"></i>
            </a> &nbsp;             
            <a type="button" data-bs-toggle="modal" class="deletebutton" onclick="action('del','${item.voucherNo}')" >
              <i class="fa fa-trash"></i>
            </a>
            `
        })



         renderJsonToDataTable("#tabxp", json, true)

     


      })()

      function action(action, id) {
        console.log(action, id);
        if (action === "edit") {
          console.log("edit");
          window.location.href = `/edit/cash-payments/${id}`;
        } else if (action === "del") {
          console.log("del");
        }
      }
      

   </script>



</body>

</html>