<%- include('../partials/top') %>


<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4">
      Account Master
   </h4>
   <div class="row">
      <div class="col-md-12">
         <div class="card mb-4">
            <div class="card-body">
               <form action="/account-master" method="post">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="sub-group" name="subgroup" placeholder="Sub Group" required>
                           <label for="sub-group">Sub Group</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="ac-head" name="achead" placeholder="A/c Head" required>
                           <label for="ac-head">A/c Head</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="address-line-1" name="addressline1" placeholder="Address Line 1" required>
                           <label for="address-line-1">Address Line 1</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="address-line-2" name="addressline2" placeholder="Address Line 2">
                           <label for="address-line-2">Address Line 2</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="place" name="place" placeholder="Place" required>
                           <label for="place">Place</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="pin-code" name="pincode" placeholder="Pin Code" required minlength="6" maxlength="6">
                           <label for="pin-code">Pin Code</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Mobile" required>
                           <label for="mobile">Mobile</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="pan" name="pan" placeholder="PAN" required>
                           <label for="pan">PAN</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="aadhar" name="aadhar" placeholder="AADHAR" required>
                           <label for="aadhar">AADHAR</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="gst" name="gst" placeholder="GSTN" required>
                           <label for="gst">GSTN</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="dl-no" name="dlno" placeholder="DL NO." required>
                           <label for="dl-no">DL NO.</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="fssai-no" name="fssaino" placeholder="FSSAI NO." required>
                           <label for="fssai-no">FSSAI NO.</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL ID" required>
                           <label for="email">EMAIL ID</label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="state-code" name="statecode" placeholder="STATE CODE" required>
                           <label for="state-code">STATE CODE</label>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 mt-1" style="display: flex; justify-content: end;">
                     <button type="reset" class="btn btn-label-secondary" style="margin-right:20px">Cancel</button>
                     <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>





<%- include('../partials/bottom') %>

   <script>
      (async () => {

         const url = "http://localhost/cmpl";
         const response = await fetch(url);
         const json = await response.json();
         // for each object in json array, take out C_NAME as name and C_CODE as email
         let usersList = json.map(user => ({
            name: user.C_NAME,
            title: user.C_NAME,
            email: user.C_CODE,
            Email: user.C_CODE,
            value: user.C_CODE.substring(0, 2),
            avatar: "/assets/img/avatars/3.png"
         }));

         function getNextSubgroupCode(data, subGroup) {
            const subgroupData = data.filter(item => item.C_CODE.substring(0, 2) === subGroup);
            if (subgroupData.length === 0) {
               return `${subGroup}001`; // Start with the first code if none exist
            }
            const numbers = subgroupData.map(item => parseInt(item.C_CODE.match(/\d+/)[0], 10));
            const nextNumber = Math.max(...numbers) + 1;
            return `${subGroup}${String(nextNumber).padStart(3, '0')}`; 
         }

         usersList = usersList.filter(user => user.email.endsWith("000"));
         usersList = usersList.filter(user => user.name && user.email);
         usersList.sort((a, b) => a.email.localeCompare(b.email));

         // replace email to getNextSubgroupCode
         usersList = usersList.map(user => ({
            ...user,
            email: user.value+" | "+getNextSubgroupCode(json, user.value)
         }));


         const TagifyUserListEl = document.querySelector("#sub-group");


         function tagTemplate(tagData) {
            return `
         <tag title="${tagData.title || tagData.email}"
         contenteditable='false'
         spellcheck='false'
         tabIndex="-1"
         class="${this.settings.classNames.tag} ${tagData.class ? tagData.class : ''}"
         ${this.getAttributes(tagData)}
         >
         <x title='' class='tagify__tag__removeBtn' role='button' aria-label='remove tag'></x>
         <div>
            <div class='tagify__tag__avatar-wrap'>
               <img onerror="this.style.visibility='hidden'" src="${tagData.avatar}">
            </div>
            <span class='tagify__tag-text'>${tagData.name}</span>
         </div>
         </tag>
         `;
         }

         function suggestionItemTemplate(tagData) {
            return `
         <div ${this.getAttributes(tagData)}
         class='tagify__dropdown__item align-items-center ${tagData.class ? tagData.class : ''}'
         tabindex="0"
         role="option"
         >
         ${tagData.avatar ?
                  `<div class='tagify__dropdown__item__avatar-wrap'>
               <img onerror="this.style.visibility='hidden'" src="${tagData.avatar}">
            </div>`
                  : ''
               }
         <strong>${tagData.name}</strong>
         <span>${tagData.email}</span>
         </div>
         `;
         }

         // initialize Tagify on the above input node reference
         let TagifyUserList = new Tagify(TagifyUserListEl, {
            // mode:"select",
            tagTextProp: "name", // very important since a custom template is used with this property as text. allows typing a "value" or a "name" to match input with whitelist
            enforceWhitelist: true,
            maxTags: 1,
            skipInvalid: true, // do not remporarily add invalid tags
            maxTags: 1,
            dropdown: {
               closeOnSelect: true,
               enabled: 0,
               classname: "users-list",
               searchKeys: ["name", "email"] // very important to set by which keys to search for suggesttions when typing
            },
            templates: {
               tag: tagTemplate,
               dropdownItem: suggestionItemTemplate
            },
            whitelist: usersList
         });

         TagifyUserList.on("dropdown:show dropdown:updated", onDropdownShow);
         TagifyUserList.on("dropdown:select", onSelectSuggestion);

         let addAllSuggestionsEl;

         function onDropdownShow(e) {
            let dropdownContentEl = e.detail.tagify.DOM.dropdown.content;

            if (TagifyUserList.suggestedListItems.length > 1) {
               addAllSuggestionsEl = getAddAllSuggestionsEl();

               // insert "addAllSuggestionsEl" as the first element in the suggestions list
               dropdownContentEl.insertBefore(addAllSuggestionsEl, dropdownContentEl.firstChild);
            }
         }

         function onSelectSuggestion(e) {
            if (e.detail.elm == addAllSuggestionsEl) TagifyUserList.dropdown.selectAll.call(TagifyUserList);
         }



         function submit() {
            TagifyUserList.value.forEach(element => {
               changepassword(element.value);
            });
         }

     


      })()



   </script>



</body>

</html>